body { 
    background: #FFF;
    background: #CCC;
    color: #000;
    line-height: 1;
    font-family: sans-serif }
table {
    margin: 2em 0;
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    width: 100%}
th, td {
    padding: 0.5%;
    width: 13%}
td {
    min-height; 5em;
    background: #CCC;
    background: #FFF;
    border: thin solid}
td.skip { 
    background: white;
    background: #CCC;
    /*border: none*/ }
th { 
    text-align: left;
    background: #369;
    color: #FFF}
tr {
    vertical-align: baseline}
caption { 
    color: #369;
    text-align: left;
    font-size: xx-large;
    font-weight: bold}
p.date {
    color: #FFF;
    color: #CCC;
    font-size: 4em;
    margin-bottom: -1em;
    font-weight: bold;
    text-align: right}
pre.description {
    display: none;
    font-family: sans-serif;
    text-indent: 0;
    background: #FF9;
    color: #000; 
    /*overflow: auto;*/
    white-space: pre;
    margin: 0;
    padding: 0.5em;
    border: thin solid}
div.event:hover .description {
    display: block;
    position: absolute}
p {
    margin: 0;
    padding: 0 }
p.notime { font-style: italic }
span.time { font-weight: bold }

div.event {
    margin: 0.3em 0;
    padding-left: 0.6em;
    text-indent: -0.6em}

div.event {color: #666}		/* Default */
div.Birthday {color: #C66}
div.Birthday.Personal {color: #C93}
div.Dinner {color: #090}
div.Holiday {color: #393}
div.Meeting {color: #990}
div.Meeting.Phone-Call {color: #339}
div.Miscellaneous {color: #960}
div.Personal {color: #C60}
div.Phone-Call {color: #909}
div.Travel {color: #069}
