body { 
    background: #FFF;
    background: #CCC;
    color: #000;
    line-height: 1;
    font-family: sans-serif }
table {
    margin: 2em 0;
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    width: 100%}
th, td {
    padding: 0.5%;
    width: 13%}
td {
    min-height; 5em;
    background: #CCC;
    background: #FFF;
    border: thin solid}
td.skip { 
    background: white;
    background: #CCC;
    /*border: none*/ }
th { 
    text-align: left;
    background: #369;
    color: #FFF}
tr {
    vertical-align: baseline}
caption { 
    color: #369;
    text-align: left;
    font-size: xx-large;
    font-weight: bold}
p.date {
    color: #FFF;
    color: #CCC;
    font-size: 4em;
    margin-bottom: -1em;
    font-weight: bold;
    text-align: right}
pre.description {
    display: none;
    font-family: sans-serif;
    text-indent: 0;
    background: #FF9;
    color: #000; 
    /*overflow: auto;*/
    white-space: pre;
    margin: 0;
    padding: 0.5em;
    border: thin solid}
div.event:hover .description {
    display: block;
    position: absolute}
p {
    margin: 0;
    padding: 0 }
p.notime { font-style: italic }
span.time { font-weight: bold }

div.event {
    margin: 0.3em 0;
    padding-left: 0.6em;
    text-indent: -0.6em}
/*
div.event { border-left: #CCC 0.5em solid }
div.Birthday { border-left-color: #F66}
div.Meeting { border-left-color: #660}
div.Phone-Call { border-left-color: #606}
div.Travel { border-left-color: #066}
div.Miscellaneous { border-left-color: #6C0}
*/
/*
div.event:before {content: "·"; background: #CCC solid}
div.Birthday:before {content: "·"; background: red}
div.Meeting:before {content: "·"; background: #660}
div.Phone-Call:before {content: "·"; background: #606}
div.Travel:before {content: "·"; background: #066}
div.Miscellaneous:before {content: "·"; background: #6C0}
*/
/*
div.event {background: #CCC}
div.Birthday {background: #F66}
div.Meeting {background: #CC0}
div.Phone-Call {background: #C0C}
div.Travel {background: #0CC}
div.Miscellaneous {background: #FC0}
*/

div.event {color: #666}
div.Birthday {color: #C33}
div.Meeting {color: #990}
div.Phone-Call {color: #909}
div.Travel {color: #069}
div.Miscellaneous {color: #960}
div.Dinner {color: #090}